@using System.Globalization;
@model Emergency.Models.MobileMessage

@{
    ViewData["Title"] = "عرض الرسالة";
    var badgeClass = Model.Status == MobileStatus.IAM_OK ? "bg-success" : Model.Status == MobileStatus.NEED_HELP ? "bg-warning" : "bg-danger";
}
<div class="row">
    <div class="col-lg-8">
        <div id="map" style="width:100%;min-height:500px;" class="h-100"></div>
    </div>
    <div class="col">
        <table class="table table-hover table-striped">
            <tr>
                <th>المرسل</th>
                <td>@Model.Mobile.Owner</td>
            </tr>
            @* <tr>
            <th>تاريخ التسجيل</th>
            <td>@Model.Mobile.RegisterDate?.ToString("g",CultureInfo.GetCultureInfo("ar-SY"))</td>
            </tr> *@
            <tr>
                <th>نص الرسالة</th>
                <td>@Model.Text</td>
            </tr>
            <tr>
                <th>الحالة</th>
                <td><div class="@badgeClass text-white">@Model.Status.ToDescription()</div> </td>
            </tr>
            <tr>
                <th>التوقيت</th>
                <td>@Model.SendTime.ToString("g",CultureInfo.GetCultureInfo("ar-SY"))</td>
            </tr>
            <tr>
                <th>الموقع الجغرافي</th>
                <td><a target="_blank" href="https://www.google.com/maps/place/@Model.Location.Latitude,@Model.Location.Longitude" class="btn btn-sm btn-outline-info"><span class="bi bi-link-45deg"></span>Google maps</a></td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/js/maps.js"></script>
    <script type="text/javascript">
        var status = @((int)Model.Status);
        var owner = '@(Model.Mobile.Owner)';
        var text = '@(Model.Text)';
        $(document).ready(function () {
            addMobileStatusMarker(status, @Model.Location.Latitude, @Model.Location.Longitude, owner, text);
            map.panTo([@Model.Location.Latitude, @Model.Location.Longitude], { animate: true });
            map.setZoom(13);
        });
    </script>
}
